@model DOAN_NHOM_CUOIKY_FTL.Models.AdminUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LoginAccount", "LoginUser"))
{
    @Html.AntiForgeryToken()
    <div class="login">

        <div class="form">
            <h2 style="color:white;position:relative; top: -40px;">ĐĂNG NHAP</h2>

            <div class="place">
                <p>Tài Khoản</p>
                @Html.TextBoxFor(model => model.NameUser, new { style = "field-validation-error" })
                @Html.ValidationMessageFor(model => model.NameUser)
            </div>

            <div class="place">
                <p>Nhập Mật Khẩu</p>
                @Html.EditorFor(model => model.PasswordUser)
                @Html.ValidationMessageFor(model => model.PasswordUser)
                @if (ViewBag.ErrorInfo == null)
                {
                    <p>@ViewBag.ErrorInfo</p>
                }
            </div>
            <input type="submit" value="Đăng Nhập" class="submit" id="sub">
        </div>
    </div>
}