@model DOAN_NHOM_CUOIKY_FTL.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="main">
    <div class="main-left">
        <img src="@Url.Content(@Model.ImagePro)" alt="" class="main-left__img" width="634" height="628" />
    </div>
    <div class="main-right">
        <div class="main-right__det">
            <div class="main-right__det-header">
                <h1 class="main-right__det-header-text">
                    @Html.DisplayFor(model => model.NamePro)
                </h1>
                <hr class="main-right__det-header-sub">
                <h1 class="main-right__det-header-cast">@Html.DisplayFor(model => model.Price)</h1>
                <div class="main-right__det-header-descrip">
                    <div>
                        <p>Kho: @Html.DisplayFor(model => model.Quantity)</p>
                        <p>Mô Tả:</p>

                    </div>
                   
                </div>
            </div>
            <a class="main-right__det-header-descrip--buy" href="/ShoppingCart/AddToCart/@Model.ProductID">Thêm Vào Giỏ Hàng</a>

        </div>
    </div>
</div>
<hr />
<div>
    <p style="text-align:center;font-size:28px;">Thông Tin Mô Tả Sản Phẩm</p>
    <div style="margin-left:600px;font-size:20px;">
        <img src="@Url.Content(@Model.DecriptionPro)" width="500" height="600" />
    </div>
</div>











